icon.gui {
    background: center/auto 24px no-repeat;
    width: 24px;
    display: inline-block;
    height: 20px;
    vertical-align: bottom;
}
icon.gui-54 {
    background-image: url("./icons/Xbcontroller_54.png");
    width: 14px;
}
icon.gui-55 {
    background-image: url("./icons/Xbcontroller_55.png");
    width: 14px;
}
icon.gui-77 {
    background-image: url("./icons/061523.png");
}
icon.gui-78 {
    background-image: url("./icons/061540.png");
}
icon.gui-79 {
    background-image: url("./icons/061542.png");
}
icon.gui-80 {
    background-image: url("./icons/061543.png");
}
icon.gui-81 {
    background-image: url("./icons/061544.png");
}
icon.gui-95 {
    background-image: url("./icons/061547.png");
}

/* dirty hack */
icon.gui-88 {
    display: inline;
}
icon.gui-88::after {
    content: "\e05d";
    color: white;
    text-shadow: 1px 1px 3px blue;
}