.filter-0 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-1 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-2 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-3 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-4 {
    --prefix: "";
    --suffix: "";
}
.filter-5 {
    --prefix: "";
    --suffix: "";
}
.filter-6 {
    --prefix: "";
    --suffix: "";
}
.filter-7 {
    --prefix: "";
    --suffix: "";
}
.filter-8 {
    --prefix: "";
    --suffix: "";
}
.filter-9 {
    --prefix: "";
    --suffix: "";
}
.filter-10 {
    --prefix: "";
    --suffix: "：";
}
.filter-11 {
    --prefix: "";
    --suffix: "：";
}
.filter-12 {
    --prefix: ">>";
    --suffix: "：";
}
.filter-13 {
    --prefix: "";
    --suffix: " >> ";
}
.filter-14 {
    --prefix: "(";
    --suffix: ") ";
}
.filter-15 {
    --prefix: "(";
    --suffix: ") ";
}
.filter-16 {
    --prefix: "[1]<";
    --suffix: "> ";
}
.filter-17 {
    --prefix: "[2]<";
    --suffix: "> ";
}
.filter-18 {
    --prefix: "[3]<";
    --suffix: "> ";
}
.filter-19 {
    --prefix: "[4]<";
    --suffix: "> ";
}
.filter-20 {
    --prefix: "[5]<";
    --suffix: "> ";
}
.filter-21 {
    --prefix: "[6]<";
    --suffix: "> ";
}
.filter-22 {
    --prefix: "[7]<";
    --suffix: "> ";
}
.filter-23 {
    --prefix: "[8]<";
    --suffix: "> ";
}
.filter-24 {
    --prefix: "[部队]<";
    --suffix: "> ";
}
.filter-25 {
    --prefix: "";
    --suffix: "";
}
.filter-26 {
    --prefix: "";
    --suffix: "";
}
.filter-27 {
    --prefix: "[新人]";
    --suffix: " : ";
}
.filter-28 {
    --prefix: "";
    --suffix: "";
}
.filter-29 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-30 {
    --prefix: "";
    --suffix: "：";
}
.filter-31 {
    --prefix: "(";
    --suffix: ") ";
}
.filter-32 {
    --prefix: "(";
    --suffix: ") ";
}
.filter-33 {
    --prefix: "";
    --suffix: "";
}
.filter-34 {
    --prefix: "";
    --suffix: "";
}
.filter-35 {
    --prefix: "";
    --suffix: "";
}
.filter-36 {
    --prefix: "[对战]<";
    --suffix: "> ";
}
.filter-37 {
    --prefix: "[跨服贝1]<";
    --suffix: "> ";
}
.filter-38 {
    --prefix: "";
    --suffix: "";
}
.filter-39 {
    --prefix: "";
    --suffix: "";
}
.filter-40 {
    --prefix: "";
    --suffix: "";
}
.filter-41 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-42 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-43 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-44 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-45 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-46 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-47 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-48 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-49 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-50 {
    --prefix: "";
    --suffix: "";
}
.filter-51 {
    --prefix: "";
    --suffix: "";
}
.filter-52 {
    --prefix: "";
    --suffix: "";
}
.filter-53 {
    --prefix: "";
    --suffix: "";
}
.filter-54 {
    --prefix: "";
    --suffix: "";
}
.filter-55 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-56 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-57 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-58 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-59 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-60 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-61 {
    --prefix: "";
    --suffix: " : ";
}
.filter-62 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-63 {
    --prefix: "";
    --suffix: "";
}
.filter-64 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-65 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-66 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-67 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-68 {
    --prefix: "";
    --suffix: "：";
}
.filter-69 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-70 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-71 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-72 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-73 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-74 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-75 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-76 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-77 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-78 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-79 {
    --prefix: "";
    --suffix: "";
    --visible: none;
}
.filter-80 {
    --prefix: "[游戏管理员]";
    --suffix: " >> ";
}
.filter-81 {
    --prefix: "[游戏管理员]";
    --suffix: "：";
}
.filter-82 {
    --prefix: "[游戏管理员]";
    --suffix: "：";
}
.filter-83 {
    --prefix: "[游戏管理员]";
    --suffix: "：";
}
.filter-84 {
    --prefix: "([游戏管理员]";
    --suffix: ") ";
}
.filter-85 {
    --prefix: "[部队]<[游戏管理员]";
    --suffix: "> ";
}
.filter-86 {
    --prefix: "[1]<[游戏管理员]";
    --suffix: "> ";
}
.filter-87 {
    --prefix: "[2]<[游戏管理员]";
    --suffix: "> ";
}
.filter-88 {
    --prefix: "[3]<[游戏管理员]";
    --suffix: "> ";
}
.filter-89 {
    --prefix: "[4]<[游戏管理员]";
    --suffix: "> ";
}
.filter-90 {
    --prefix: "[5]<[游戏管理员]";
    --suffix: "> ";
}
.filter-91 {
    --prefix: "[6]<[游戏管理员]";
    --suffix: "> ";
}
.filter-92 {
    --prefix: "[7]<[游戏管理员]";
    --suffix: "> ";
}
.filter-93 {
    --prefix: "[8]<[游戏管理员]";
    --suffix: "> ";
}
.filter-94 {
    --prefix: "[新人][游戏管理员]<";
    --suffix: "> : ";
}
.filter-95 {
    --prefix: "";
    --suffix: "";
}
.filter-96 {
    --prefix: "";
    --suffix: "";
}
.filter-97 {
    --prefix: "";
    --suffix: "";
}
.filter-98 {
    --prefix: "";
    --suffix: "";
}
.filter-99 {
    --prefix: "";
    --suffix: "";
}
.filter-100 {
    --prefix: "";
    --suffix: "";
}
.filter-101 {
    --prefix: "[跨服贝2]<";
    --suffix: "> ";
}
.filter-102 {
    --prefix: "[跨服贝3]<";
    --suffix: "> ";
}
.filter-103 {
    --prefix: "[跨服贝4]<";
    --suffix: "> ";
}
.filter-104 {
    --prefix: "[跨服贝5]<";
    --suffix: "> ";
}
.filter-105 {
    --prefix: "[跨服贝6]<";
    --suffix: "> ";
}
.filter-106 {
    --prefix: "[跨服贝7]<";
    --suffix: "> ";
}
.filter-107 {
    --prefix: "[跨服贝8]<";
    --suffix: "> ";
}
.filter-108 {
    --prefix: "";
    --suffix: "";
}
.filter-109 {
    --prefix: "";
    --suffix: "";
}
.filter-110 {
    --prefix: "";
    --suffix: "";
}
